<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026629271290-klgo5pq22alfkvf9c1kq0ed2gp9mi8ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026629271290-klgo5pq22alfkvf9c1kq0ed2gp9mi8ql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026629271290-6stajsdj2hadk9bjjjtpo1mp6vcr8k45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUwd-tJESXybssHNAwotv__e6BU5bV_3U</string>
	<key>GCM_SENDER_ID</key>
	<string>1026629271290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androrun.apprun</string>
	<key>PROJECT_ID</key>
	<string>app-running-317003</string>
	<key>STORAGE_BUCKET</key>
	<string>app-running-317003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026629271290:ios:013c9760849f779a62d343</string>
	<key>DATABASE_URL</key>
	<string>https://app-running-317003-default-rtdb.firebaseio.com</string>
</dict>
</plist>